.container {
    text-align: center;
    height: 100%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    background: url("../../newassets/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
  }

  .container2 {
    text-align: center;
    height: 100%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    background: url("../../newassets/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
  }

  .container2 h1 {
    margin-top: 8px;
  }

  .container2 img {
    width: 35%;
  }
  
  .question {
    font-size: 64px;
    margin-bottom: 20px;
    color: white; 
    font-family: 'Esoris';
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; 
    width: 60%;

  }

  .options2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  
  .option {
    width: 200px;
    padding: 24px 32px;
    margin: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 32px;
    width: fit-content;
    text-decoration: none;

  }
  
  .option.selected {
    border-color: #ffffff;
    border: 0.5px solid rgb(255, 255, 255); /* Adiciona uma borda mais opaca ao passar o mouse */
    border-radius: 8px;
    color: white;
  }

  .option:hover {
    border: 0.5px solid rgb(255, 255, 255); /* Adiciona uma borda mais opaca ao passar o mouse */
    border-radius: 8px;
    transform: scale(1.05);
  }

  .container-images {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }

  .image-container {

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    
  }

  .container-images h1 {
    color: white;
  }

  #left-card {
    position: relative;
    left: 40px;
    top: 12px;
  }

  #right-card {
    position: relative;
    right: 10px;
    top: 8px;
  } 
  