.background-second-section {
  width: 100vw;
  height: 80vw;
  z-index: 10;
  background-color: #151A32;
  position:relative;
  opacity: 0;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.longevity-letter {
  height: 3.4vw;
}

.pill-container {
  position: absolute;
  left: 6vw;
  margin-top: 35vw;
  width: 4vw;
}

.second-pill-container {
  position: absolute;
  left: 14vw;
  margin-top: 135vw;
  width: 5vw;

}

.third-pill-container {
  position: absolute;
  right: 5vw;
  margin-top: 70vw;
  width: 4vw;
}

.go-bottom {
  margin-bottom: -80vw;
  width: fit-content;
  height: fit-content;
  background-color: red
}

.longevity-title {
  border: none;
  /* position: absolute; */
  font-family: 'Esoris';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  letter-spacing: 0.1vw;
  margin-top: 5vw;
  width: 100vw;
  padding: 0 15vw;
  color: white;
}
@media only screen and (min-width: 901px) {
  .longevity-title {
    animation: shine 3s infinite linear;
  }
}
@media only screen and (max-width: 900px) {
  .longevity-title {
    animation: shine-mobile 3s infinite linear;
  }
}

.longevity-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  margin-top: 5vw;
  text-align: center;
  letter-spacing: 0.28em;
  width: 40vw ;

  color: #FFFFFF;
}

.longevity-subtitle-bold {
  font-weight: 600;
  display: inline
}
.bottom-margin {
  margin-top: 20vw;
}
.shadow-right{
  position: absolute;
  right: 0;
  margin-top: 14.5vw;
  width: 35vw;
}

.shadow-left{
  position: absolute;
  left: 0;
  margin-top: 56vw;
  width: 30vw;
}

.background-second-section > .orbit-container {
  position: absolute;
  right: 6vw;
  margin-top: 35vw;
}

.top-container-second-section {
  height: 100vh;
  position: relative;
}



@media only screen and (max-width: 900px) {
  .shadow-right, .shadow-left, .longevity-subtitle{
    display: none;
  }
  .longevity-letter {
    height: 4.8vw;
  }

  .longevity-title {
    font-size: 6.7vw;
    margin-top: 42vw;
    width: 78vw;
  }

  .background-second-section {
    background: linear-gradient(180deg, rgba(3, 15, 47, 0) 0%, #030D29 20vw, #030D29 56.98%);
    height: 180vw;
  }

  .second-pill-container {
    left: 12vw;
    margin-top: 160vw;
    width: 7vw;
  }

  .third-pill-container {
    position: absolute;
    right: 7vw;
    margin-top: 70vw;
    width: 7vw;
  }
}
