.background-of-itinerary {
  width: 100vw;
  height: 200vw;
}
.artistic-background {
  background-image: url("../../assets/newAssets/background-artistic.png");
}


.on-top-of-itinerary {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-itinerary {
  font-family: 'Esoris';
  font-size: 4vw;
  color: white;
  letter-spacing: 0.4vw;
  width: 40vw;
  text-align: center;
  margin-top: 5vw;
}
